.hover-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

:hover .hover-box {
  opacity: 1;
  transform: translateY(0);
}

.card-background {
  background-image: url('/assets/img/pattern1.png');
  background-size: cover;
  background-position: center;
}

.card-image {
  transition: transform 0.3s ease;
}

.card:hover .card-image {
  transform: scale(1.05);
}

.icon-container {
  @apply absolute top-2 left-2 z-30 flex items-center;
}

.discount-text {
  @apply text-white bg-red-500 rounded-full px-2 py-1 text-xs;
}
.card-border{
  @apply border-[0.3px] border-[#525252]
}

.card-border:hover{
  @apply border-gray-400
}
