.hover-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

:hover .hover-box {
  opacity: 1;
  transform: translateY(0);
}

.card-background {
  background-image: url('/assets/img/pattern1.png');
  background-size: cover;
  background-position: center;
}

.card-image {
  transition: transform 0.3s ease;
}

.card:hover .card-image {
  transform: scale(1.05);
}
