.hover-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

:hover .hover-box {
  opacity: 1;
  transform: translateY(0);
}

.card-background {
  background-image: url('/assets/img/pattern1.png');
  background-size: cover;
  background-position: center;
}

.card-image {
  transition: transform 0.3s ease;
}

/*.card:hover .card-image {*/
/*  transform: scale(1.05);*/
/*}*/

.icon-container {
  @apply absolute top-2 left-2 z-30 flex items-center;
}

.discount-text {
  @apply text-white bg-red-500 rounded-full px-2 py-1 text-xs;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Adjust as needed */
}

.glass-back {
  background: rgba(45, 49, 51, 0.87);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(51, 50, 50, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #666f7e;
  padding: 5px;
  margin: -5px 5px 7px;
}
