<div class="relative w-full  overflow-hidden">
  <div class="flex transition-transform duration-500 ease-in-out" [style.transform]="transform">
    <div *ngFor="let offer of offers" class="card-wrapper">
      <img [src]="offer.image" alt="Offer" class="card-image">
    </div>
  </div>
  <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2 glass-bg p-4 rounded-4xl">
    <div *ngFor="let offer of offers; let i = index"
         class="w-2 h-2 rounded-full"
         [class.bg-blue-500]="currentIndex === i"
         [class.bg-gray-300]="currentIndex !== i">
    </div>
  </div>
</div>
