<div class="slider-container relative flex items-center mx-auto">
  <button *ngIf="settings.showArrows" class="nav-button -left-[1px] z-20 glass-bg" (click)="prevSlide()"> «</button>
  <div class="slider flex overflow-hidden w-full">
    <ng-container *ngFor="let cardBatch of getCardBatches(); let i = index">
      <div *ngIf="i === currentIndex"
           class="w-full flex gap-4 justify-center items-center transition-all duration-500 ease-in-out">
        <ng-container *ngFor="let card of cardBatch">
          <ng-container *ngTemplateOutlet="cardTemplate; context: { $implicit: card }"></ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <button *ngIf="settings.showArrows" class="nav-button right glass-bg z-20" (click)="nextSlide()"> »</button>
</div>
