<header class="bg-primary text-white p-4 card">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-lg font-bold ">
      <img src="/assets/img/dim.png" height="30" width="30" alt="Logo" class="border-[.2px] border-[#555] rounded-md">
    </div>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:underline text-secondary">Home</a></li>
        <li><a href="/about" class="hover:underline text-secondary">About</a></li>
        <li><a href="/contact" class="hover:underline text-secondary">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
