<header class="bg-primary text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo Section -->
    <div class="flex items-center space-x-4">
      <img src="assets/img/dim.png" height="35" width="35" alt="Logo" class="border-[.2px] border-[#555] rounded-md">
      <div class="text-2xl font-bold">Dim Dim</div>
    </div>

    <!-- Navigation Section -->
    <nav>
      <ul class="flex space-x-6 text-md">
        <li class="relative" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
          <a href="#" class="nav-link text-gray-400 hover:text-secondary">Categories</a>
          <div class="absolute bg-primary text-white mt-1 rounded-md shadow-lg w-48 border-[0.2px] border-outline"
               [class.hidden]="!dropdownVisible">
            <a href="/category1" class="block px-4 py-2 hover:bg-highlight">Category 1</a>
            <a href="/category2" class="block px-4 py-2 hover:bg-highlight">Category 2</a>
            <a href="/category3" class="block px-4 py-2 hover:bg-highlight">Category 3</a>
          </div>
        </li>
        <li><a href="/" class="nav-link text-gray-400 hover:text-secondary">Home</a></li>
        <li><a href="/about" class="nav-link text-gray-400 hover:text-secondary">About</a></li>
        <li><a href="/contact" class="nav-link text-gray-400 hover:text-secondary">Contact</a></li>
      </ul>
    </nav>

    <!-- Search Section -->
    <div class="relative w-1/3 border-[0.1px] rounded-md border-outline">
      <input type="text"
             class="w-full bg-primary text-white px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-[#525252]"
             [placeholder]="searchPlaceholder">
      <button class="absolute right-2 top-2 text-gray-500 hover:text-gray-700">
        <i class="fas fa-search text-secondary"></i>
      </button>
    </div>

    <!-- Icons Section -->
    <div class="flex space-x-4">
      <a href="/cart"
         class="relative text-gray-500 hover:text-gray-700 border-[0.1px] border-outline rounded-md py-2 px-3">
        <i class="fas fa-shopping-cart text-secondary"></i>
        <span class="absolute -top-2 -right-1.5 bg-[#2563eb] text-white text-xs rounded-full px-1.5 py-0.5">9+</span>
      </a>
      <a href="/profile"
         class=" relative text-gray-500 hover:text-gray-700 border-[0.1px] border-outline rounded-md py-2 px-3">
        <i class="fas fa-user text-secondary"></i>
        <span class="absolute -top-1 -right-1.5 bg-[#2563eb] text-white text-xs rounded-full px-1 py-1"></span>
      </a>
    </div>
  </div>
</header>
