<app-card-slider [offers]="offers"></app-card-slider>
<div class="mb-8">
  <section class=" mt-7 mx-5">
    <strong class="text-3xl mb-4 text-secondary m-auto w-full ">Explore Top Clothing Brands</strong>
    <div class="flex justify-center items-center gap-4">
      <app-card *ngFor="let category of cardData" [data]="category" [settings]="cardSettings"
                (cardClick)="handleCardClick($event)"></app-card>
    </div>
  </section>
  <section class=" mt-7 mx-5">
    <strong class="text-xl mb-4 text-secondary m-auto w-full ml-[12rem]">Categories To Cart </strong>
    <div class="flex justify-center items-center gap-4">
      <app-arrow-slider [cards]="categoryData" [settings]="sliderSettings"
                        [cardTemplate]="cardTemplate"></app-arrow-slider>
    </div>
  </section>
  <section class=" mt-7 mx-5">
    <strong class="text-xl mb-4 text-secondary m-auto w-full ml-[12rem] ">Hot Foods Delivered in <span
      class="text-[#ef4372]">30 Mins</span>
    </strong>
    <div class="flex justify-center items-center gap-4">
      <app-arrow-slider [cards]="foodData" [cardTemplate]="foodCardTemplate"
                        [settings]="foodsliderSettings"></app-arrow-slider>
    </div>
  </section>

  <section class=" mt-7 mx-5">
    <strong class="text-xl mb-4 text-secondary m-auto w-full ml-[12rem] "> <span
      class="text-[#ef4372]">Deals For You</span>
    </strong>
    <div class="flex justify-center items-center gap-4">
      <app-arrow-slider [cards]="featuresData" [settings]="dealsliderSettings"
                        [cardTemplate]="dealCardTemplate"></app-arrow-slider>
    </div>
  </section>

  <section class=" mt-7 mx-5">
    <strong class="text-xl mb-4 text-secondary m-auto w-full ml-[12rem] ">Hot Foods Delivered in <span
      class="text-[#ef4372]">30 Mins</span>
    </strong>
    <div class="flex justify-center items-center gap-4">
      <app-arrow-slider [cards]="product1" [cardTemplate]="productsCardTemplate"
                        [settings]="productSliderSettings"></app-arrow-slider>
    </div>
  </section>

</div>
<app-footer></app-footer>

<ng-template #cardTemplate let-card>
  <app-card [data]="card" [settings]="cartCardSettings" (cardClick)="handleCardClick($event)"></app-card>
</ng-template>
<ng-template #foodCardTemplate let-card>
  <app-card [data]="card" [settings]="foodCardSettings" (cardClick)="handleCardClick($event)"></app-card>
</ng-template>
<ng-template #dealCardTemplate let-card>
  <app-card [data]="card" [settings]="dealSettings" (cardClick)="handleCardClick($event)"></app-card>
</ng-template>
<ng-template #productsCardTemplate let-card>
  <app-cart-card [data]="card" [settings]="productCardSettings" (cardClick)="handleCardClick($event)"></app-cart-card>
</ng-template>
