<app-card-slider [offers]="offers"></app-card-slider>
<section class=" mt-7 mx-5">
  <strong class="text-3xl mb-4 text-secondary m-auto w-full ">Explore Top Clothing Brands</strong>
  <div class="flex justify-center items-center gap-4">
    <app-card *ngFor="let category of cardData" [data]="category" [settings]="cardSettings"></app-card>
  </div>
</section>
<section class=" mt-7 mx-5">
  <strong class="text-3xl mb-4 text-secondary m-auto w-full ">Categories To Cart </strong>
  <div class="flex justify-center items-center gap-4">
    <app-card *ngFor="let category of categoryData" [data]="category" [settings]="cartCardSettings"></app-card>
  </div>
</section>
